@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundoVsCode: #1F1F1F;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-fundoVsCode);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: 1fr 90vw 1fr;
    height: 100vh;
    gap: 10px;
}

header {
    grid-area: 1 / 2 / 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

header h1 {
    color: white;
}

.img img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 2px rgba(127, 118, 181, 0.504);
}

main {
    grid-area: 2 / 2 / -2 / -2;
}

main .animation {
    width: 100%;
    height: 200px;
}

footer {
    position: sticky;
    bottom: 0;
    grid-area: -2 / 1 / -1 / -1;
    padding: 10px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
}

#menu a {
    color: white;
    font-size: 1.2em;
}