@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundoVsCode: #1F1F1F;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-fundoVsCode);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: 1fr 90vw 1fr;
    height: 100vh;
    gap: 10px;
}

header {
    height: 90vh;
    grid-area: 1 / 2 / 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 15px;
}

header h1 {
    color: white;
}

.img img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 2px rgba(127, 118, 181, 0.504);
}

header .animation {
    width: 100%;
    height: 200px;
}
/*
header, #home, #projects, #training, #about {
    border: 2px dotted red;
}

*/

main {
    grid-area: 2 / 2 / -2 / -2;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

#projects {
    width: 100%;
    border: 2px dotted red;
    margin: auto;
}

div.carrousel-container {
    overflow: hidden;
}

.carrousel-track {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
}

article.projects {
    flex: 0 0 100%;
}

article.projects h3 {
    background-color: whitesmoke;
    text-align: center;
}

main article.projects span {
    display: block;
    border: 2px solid yellow;
    padding: 10px;
}

article.projects span details {
    cursor: pointer;
    color: white;
}

div.carrousel-container nav {
    background-color: rgba(255, 255, 255, 0.475);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

img {
    width: 100%;
}

 /* main .projects {
    display: flex;
    flex-flow: row nowrap;
}

main #projects h2 {
    text-align: center;
    background-color: #bd93f9a8;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.393);
    padding: 3px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.703);
    border-radius: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.584);

}

main .projects h3, details {
    color: rgba(255, 255, 255, 0.686);
    text-shadow: 1px 1px 1px black;
}

main .projects h3 {
    padding: 5px;
    text-align: right;
}

main .projects details {
    cursor: pointer;
}



main .projects details p {
    border-top: 1px solid rgba(128, 128, 128, 0.358);
    
    text-align: justify;
    line-height: 1.5em;
}

main .projects img {
    width: 100%;
} */



footer {
    background-color: #bd93f9;
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-area: -2 / 1 / -1 / -1;
}

#menu {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

#menu a {
    color: white;
    font-size: 1.2em;
    padding: 8px;
    border-radius: 5px;
    transition: background 350ms, color 350ms, 150ms;
    filter: drop-shadow(0px 0px 5px black);
}

#menu a:hover {
    box-sizing: border-box;
    padding-bottom: 6px !important;
    transform: scale(1.5);
    filter: none;
    border-bottom: 2px solid #50fa7b;
}