/* HEADER COM ALTURA FIXA */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('img/background-header.png') center/cover;
}

header {
    
    gap: 15px;
}



nav {
    width: 100%;
    padding: 8px 5px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    border: 2px dashed red;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    transition: 220ms ease-out;
}

nav a::after {
    content: url('img/tag32.png');
}

nav a:hover {
    background-color: rgba(77, 16, 168, 0.37);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.326);
    transform: translate(0px, 2px);
}

.perfil {
    display: grid;
    grid-template: auto / auto auto;
    justify-content:space-between;
}

/* CONTAINER DO CÓDIGO SEM FUNDO */
.code-overlay {
    position: relative;
    align-self: flex-start;
    border: 2px dashed red;
    flex: 0 0 300px;
    font-family: 'Courier New', monospace;
    padding: 15px;
    min-height: 180px;
    /* ALTURA FIXA PARA O CÓDIGO */
    overflow: hidden;
    z-index: 2;
    text-shadow:
        0 0 10px rgba(10, 175, 255, 0.3),
        0 0 2px rgba(0, 0, 0, 0.8);
    /* SOMBRA PARA CONTRASTE */
}

.img {
    border: 2px dashed blue;
}


.img img {
    filter: drop-shadow(-5px 0px 5px rgba(255, 255, 255, 0.218));
}


menu {
    display: none;
}